<h1>Users新規作成</h1>

<label for="name">ユーザー名</label>
<input type="text" id="user_name" name="name" maxlength="8" placeholder="ユーザー名を入力して下さい">
<br>

<button type="button" id="user_post">Fetch API : POST</button>

<script>
  const user_post = document.getElementById('user_post');
  user_post.addEventListener('click', function(){
    const user_data = {};

    const user_name = document.getElementById('user_name');
    user_data[user_name.name] = user_name.value;

    fetch('/users', {
      method: 'POST',
      credentials: 'same-origin',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': getCsrfToken()
      },
      body: JSON.stringify(user_data),
    })
    .then(function(response) {
      if (!response.ok) {
        console.error('response.ok:', response.ok);
        console.error('response.status:', response.status);
        console.error('response.statusText:', response.statusText);
        throw new Error(response.statusText)
      }
      const response_message = response.status + ':' + response.statusText
      console.log(response_message);
      window.alert('response_message=' + response_message);
    })
    .catch(function(error) {
      console.error('エラーが発生しました', error)
    })
  });

  const getCsrfToken = () => {
    const metas = document.getElementsByTagName('meta');
    for (let meta of metas) {
      // getAttribute()は要素の指定された属性の値を返す
      if (meta.getAttribute('name') === 'csrf-token') {
        console.log('csrf-token:', meta.getAttribute('content'));
        return meta.getAttribute('content');
      }
    }
    return '';
  }
</script>
