<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

input_text: <input type="text" id="input_text" name="name_input_text" maxlength="8" size="10">
<br>
keywords: <input type="text" group='keyword' maxlength="8" size="10">
<input type="text" group='keyword' maxlength="8" size="10">
<input type="text" group='keyword' maxlength="8" size="10">
<br>
<button type="button" id="button_get">Fetch API : GET</button> | 
<button type="button" id="button_post">Fetch API : POST</button>
<script>
  const button_get = document.getElementById('button_get');
  button_get.addEventListener('click', function() {
    fetch('/get_post', {
      method: 'GET'
    })
    // thenメソッドは処理が成功した場合に返す
    .then(function(response) {
      // response.status:HTTPレスポンスステータスコードを返す
      // response.statusText:HTTPコードが200はOK、100はContinue、404はNot found
      const response_message = response.status + ':' + response.statusText
      console.log(response_message);
      window.alert('response_message=' + response_message);
    });
  });

  const button_post = document.getElementById('button_post');
  button_post.addEventListener('click', function() {
    const post_data = {
      key1: "data1",
      key2: "data2",
      key3: 3
    };

    const input_text = document.getElementById('input_text');
    post_data[input_text.name] = input_text.value;

    // input要素のgroup属性がkeywordの静的なNodeListを返す
    // Nodeはドキュメント自身で、要素やテキスト、コメントなどがある
    const keyword_nodes = document.querySelectorAll("input[group='keyword']");
    const keyword_data = [];
    for (let keyword_node of keyword_nodes) {
      const keyword = {keyword: keyword_node.value};
      keyword_data.push(keyword);
    }
    post_data['keywords'] = keyword_data;

    fetch('/get_post', {
      method: 'POST',
      // 同じオリジンの場合は認証情報を送る
      // オリジンとはURLのプロトコル、ドメイン、ポートで定義
      credentials: 'same-origin',
      headers: {
        // リクエスト時にメディアタイプを指定する役割(今回はJSONファイル)
        'Content-Type': 'application/json',
        // Request headerにX-CSRF-Tokenを付与
        'X-CSRF-Token': getCsrfToken()
      },
      // JavaScript のオブジェクトや値を JSON 文字列に変換
      body: JSON.stringify(post_data),
    })
    .then(function(response) {
      const response_message = response.status + ':' + response.statusText
      console.log(response_message);
      window.alert('response_message=' + response_message);
    });
  });

  const getCsrfToken = () => {
    const metas = document.getElementsByTagName('meta');
    for (let meta of metas) {
      // getAttribute()は要素の指定された属性の値を返す
      if (meta.getAttribute('name') === 'csrf-token') {
        console.log('csrf-token:', meta.getAttribute('content'));
        return meta.getAttribute('content');
      }
    }
    return '';
  }
</script>
